.banner {
  display: flex;
  flex-direction: column;
  background: var(--color6);
  align-items: center;
  justify-content: center;
  height: 600px;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url("/images/banner_1200px1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  width: 696px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 3.8rem;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color3);
}

.banner__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9rem;
  border: 0px;
  /* identical to box height, or 188% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color3);
  width: 200px;
  height: 50px;

  background: var(--color4);
  /* shadow-middle */
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &hover,
  &focus {
    box-shadow: 0px 4px 4px var(--color2);
  }
}
