.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 2rem;
  text-decoration: none;
  letter-spacing: 0.03em;
  max-width: 200px;
  margin-right: 33%;
  color: var(--color2);

  &__label {
    color: var(--color4);
    text-decoration: none;
  }

  &:visited,
  &:focus,
  &:link {
    text-decoration: none;
    color: var(--color2);
  }
}

.foot-wrapper__logo {
  color: var(--color3);

  &:visited,
  &:focus,
  &:link {
    text-decoration: none;
    color: var(--color3);
  }
}
