.mobile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  left: 100vw;
  top: 1vw;
}

.m-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.m-header .mobile {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  left: 91vw;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: none;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-container.is-open {
  transform: translateX(0);
  display: flex;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  list-style-type: none;
  padding-left: 40px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--color1);
  text-decoration: none;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.mobile-menu__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  padding-top: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 22vw;
}

.mobile-menu__social {
  display: flex;
  justify-content: inherit;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  color: #2196f3;
}

.mobile-menu__social--link {
  color: var(--color4);
  border-right: 2px solid var(--color4);
  padding-right: 5vw;
}

.mobile-menu__social--link:visited,
.mobile-menu__social--link:focus,
.mobile-menu__social--link:link {
  text-decoration: none;
}

.mobile-menu__contact--link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #757575;
}

.mobile-menu__contact--link:hover,
.mobile-menu__contact--link:focus {
  font-size: 34px;
  line-height: 40px;

  color: var(--color4);
}
