:root {
  --color1: #212121;
  --color2: #000000;
  --color3: #ffffff;
  --color3_opacity: #ffffff99;
  --color4: #2196f3;
  --color5: #757575;
  --color6: #2f303a;
  --color7: #afb1b8;
  --color8: #f5f4fa;
  --color9: rgba(255, 255, 255, 0.1);
  --color10: #eeeeee;
  --color11: #f5f4fa;
  --shadow1: rgba(0, 0, 0, 0.1);
  --shadow2: rgba(0, 0, 0, 0.08);
  --shadow3: rgba(0, 0, 0, 0.12);
  --color13: rgba(47, 48, 58, 0.8);
  --input_color: rgba(255, 255, 255, 0.3);
  --input_shadow: rgba(0, 0, 0, 0.15);
  --input_form_color: rgba(33, 33, 33, 0.2);
  --modal-btn: rgba(0, 0, 0, 0.1);
}
